.dashboard {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.dashboardBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2em;
  background-color: #f5edf0;
  padding-inline: 5em;
  padding-block: 2em;
}

.chartsConteiner {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(1, 20vw);
  grid-template-rows: repeat(2, auto);
  align-items: center;
}

.chart {
  height: 100%;

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
