.dashboard {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.dashboardBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartsConteiner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.chart {
  height: max-content;
}
