$backgroundColor: aqua;
$valueColor: red;

.board {
  display: flex;
  background-color: $backgroundColor;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.boardMetrics {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.metricValue {
  color: $valueColor;
}
